region                      = "us-east-1"
profile                     = "default"
project_prefix              = "test_project"
create_github_oidc_provider = false
existing_oidc_provider_arn  = "arn:aws:iam::{account_id}:oidc-provider/token.actions.githubusercontent.com"
github_username             = "github-username"
github_repo_name            = "github-repo-name"
